<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" type="text/css" href=../../css/admin/main_admin.css>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>
</head>
<body>

<div style="position:absolute; top:0px; left:600px;">ユーザー登録</div><br>
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; text-align:center; border:none;">
    姓 <input type="text" size="20"><br>
    名　<input type="text" size="20"><br>
    姓(かな)<input type="text" size="20"><br>
    名(かな) <input type="text" size="20"><br>
    ID　<input type="text" size="20"><br>
    住所 <select name="address">
<option value="1">北海道</option>
<option value="2">青森県</option>
<option value="3">岩手県</option>
<option value="4">宮城県</option>
<option value="5">秋田県</option>
<option value="6">山形県</option>
<option value="7">福島県</option>
<option value="8">茨城県</option>
<option value="9">栃木県</option>
<option value="10">群馬県</option>
<option value="11">埼玉県</option>
<option value="12">千葉県</option>
<option value="13">東京都</option>
<option value="14">神奈川県</option>
<option value="15">新潟県</option>
<option value="16">富山県</option>
<option value="17">石川県</option>
<option value="18">福井県</option>
<option value="19">山梨県</option>
<option value="20">長野県</option>
<option value="21">岐阜県</option>
<option value="22">静岡県</option>
<option value="23">愛知県</option>
<option value="24">三重県</option>
<option value="25">滋賀県</option>
<option value="26">京都府</option>
<option value="27">大阪府</option>
<option value="28">兵庫県</option>
<option value="29">奈良県</option>
<option value="30">和歌山県</option>
<option value="31">鳥取県</option>
<option value="32">島根県</option>
<option value="33">岡山県</option>
<option value="34">広島県</option>
<option value="35">山口県</option>
<option value="36">徳島県</option>
<option value="37">香川県</option>
<option value="38">愛媛県</option>
<option value="39">高知県</option>
<option value="40">福岡県</option>
<option value="41">佐賀県</option>
<option value="42">長崎県</option>
<option value="43">熊本県</option>
<option value="44">大分県</option>
<option value="45">宮崎県</option>
<option value="46">鹿児島県</option>
<option value="47">沖縄県</option>
</select>
<input type="text" size="20"><br>
    パスワード <input type="text" size="20"><br>
    郵便番号　<input type="text" size="10"> - <input type="text" size="20"><br>
    <button onclick="location.href='./user_management.php'">登録</button>
</div>
<div style="position:absolute; top:0px; left:100px;">
{literal}
<style>
ul {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #EEEEEE;
}
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000000;
}
li {
    text-align: center;
}
li:last-child {
    border-bottom: none;

}
li a.active {
    color: #FFFFFF;
    background-color: #DA3C41;
}
li a:hover:not(.active) {
    color: #FFFFFF;
    background-color: #1B2538;
}
</style>
{/literal}
<ul>
<li><a href="./log_out.php">ログアウト</a></li>
    <li><a href="./top_edit.php">トップページ管理</a></li>
    <li><a href="./ad_management.php">管理者管理</a></li>
    <li><a href="./ad_sign.php">管理者登録</a></li>
    <li><a href="./user_management.php">ユーザー管理</a></li>
    <li><a href="./vor_list.php">ボランティア管理</a></li>
    <li><a href="./vor_edit.php">ボランティア編集</a></li>
    <li><a href="./help_edit.php">お問い合わせ</a></li>
    <li><a href="./group_edit.php">団体からの挨拶編集</a></li>
    <li><a href="./souvenir_list.php">記念品管理</a></li>
    <li><a href="./souvenir_edit.php">記念品編集</a></li></ul>
</div>

</body>
</html>