<div>
    <text><h1>双葉町災害対策会社</h1></text>
    <ul>
		<li><a href="./top.php"><h3>ホーム</h3></a></li>
		<li><a href="./group.php"><h3>団体挨拶</h3></a></li>
		<li><a href="./vor.php"><h3>ボランティア参加</h3></a></li>
		<li><a href="./help.php"><h3>お問い合わせ</h3></a></li>
		<li><a href="./my_page.php"><h3>マイページ</h3></a></li>
		<li><a href="./souvenir.php"><h3>記念品</h3></a></li>
	</ul>
</div>