  <header id="header">
    <div class="d-flex flex-column">

        <div class="profile">

          <h1 class="text-light"><a href="index.html">管理者</a></h1>

        </div>

        <nav class="nav-menu">
          <ul>
            <li><a href="./log_out.php"><i class="bx bx-user"></i> <span>ログアウト</span></a></li>
            <li><a href="./top_edit.php"><i class="bx bx-file-blank"></i> <span>トップページ管理</span></a></li>
            <li><a href="./ad_management.php"><i class="bx bx-book-content"></i>管理者管理</a></li>
            <li><a href="./user_management.php"><i class="bx bx-envelope"></i>ユーザー管理</a></li>
            <li><a href="./vor_list.php"><i class="bx bx-envelope"></i>ボランティア管理</a></li>
            <li><a href="./help_edit.php"><i class="bx bx-envelope"></i>お問い合わせ</a></li>
            <li><a href="./group_edit.php"><i class="bx bx-envelope"></i>団体からの挨拶編集</a></li>
            <li><a href="./souvenir_list.php"><i class="bx bx-envelope"></i>記念品管理</a></li>
          </ul>      </nav><!-- .nav-menu -->
        <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

      </div>
    </header><!-- End Header -->
</div>
