<!DOCTYPE html>
<!-- 編集時にはプラグインNunjucksを切り替える -->
<html lang="ja">

 <head>
    <link rel="stylesheet" type="text/css" href="../Smarty/css/user/group.css">

    <meta charset="utf-8">
    <!--これは忘れない！bootstrap公式サイトのcss--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon.png">
    <link rel="icon" type="image/png" href="./img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->

    <title>マイページ</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../Smarty/templates/user/css/bootstrap-test.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link href="./demo/demo.css" rel="stylesheet" /> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Smarty/css/user/bootstrap.min.css">

    <!--これがないとモーションが動かない-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Favicons --> <!--サイトタブに表示させるアイコン-->
    <link href="/img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts --> <!--Google検索は使わないので必要ないかも-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../Smarty/templates/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/aos/aos.css" rel="stylesheet">
  
    {literal}
    <script type="text/javascript">
    function set_func_form(fn,pm){
        document.form1.target = "_self";
        document.form1.func.value = fn;
        document.form1.param.value = pm;
        document.form1.submit();
    }
    </script>
    {/literal}
 </head>


 <body>
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
      <div class="container d-flex align-items-center">
        <div class="contact-info mr-auto">
          <ul>
            <li class="active"><a href="./top.php">ホーム</a></li>
            <li><a href="./group.php">団体挨拶</a></li>
            <li><a href="./vor.php">ボランティア参加</a></li>
            <li><a href="./help.php">お問い合わせ</a></li>
            <li><a href="./my_page.php">マイページ</a></li>
            <li><a href="./souvenir.php">記念品</a></li>
          </ul>
        </div>      
      </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="#header" class="scrollto">双葉町災害対策会社</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#header" class="logo mr-auto scrollto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <nav class="nav-menu d-none d-lg-block">             
          <div class="cta">
            <a href="./sign_up.php" class="scrollto">新規登録</a>
            <a href="./log_in.php" class="scrollto">ログイン</a>
          </div> 
        </nav><!-- .nav-menu -->
      </div>
    </header><!-- End Header -->

   <!--見出し-->
   <h1 style="margin-top:130px;text-align:center;position:relative;top: 40px;margin-bottom: 40px;font-family:serif;">── マイページ ──</h1><br>
    
    <!--  
      {include file='my_page_menu.tmpl'}
    -->

    <!--contents 1 title-->
    <h1 style="position:relative; top:53px; left:111px;">マイページ</h1>
    <!--contents 1 試験用-->
    <div>
      <div class="d-flex align-items-center">
        <ol style="list-style:none; position:relative; top:66px; left:95px;">
        <!--list-style:none  リスト頭の点や数字を非表示にする-->
          <li><a href="./profile.php">アカウント設定</a></li>
          <li><a href="./schedule.php">参加ボランティア確認</li>
          <li><a href="./history.php">参加履歴確認</a></li>
        </ol>
      </div>  
    </div>

    <!-- コンテンツ -->
    <div style="text-align:center;">
      <form name="form1" action="{$smarty.server.PHP_SELF}" method="post" >

        <div class="container">
          <div class="row">
            <div class="col-6 offset-1" style="position: relative;top: -166px;left: 462px;">
              <table border="2" class="table table-bordered">
                <tbody>
                  <tr>
                    <th>所持ポイント</th>
                      <td width="65%" class="center">{$rows.User_point}</td>
                  </tr>
                  <tr>
                    <th>名前<span class="red"></span></th>
                      <td>{$rows.User_name}</td>
                    </tr>
                  <tr>
                    <th>かな<span class="red"></span></th>
                      <td>{$rows.User_kana}</td>
                    </tr>
                  <tr> 
                    <th>郵便番号<span class="red"></span></th>
                      <td>{$rows.User_post}</td>
                    </tr>
                  <tr>
                    <th>住所<span class="red"></span></th>
                      <td>{$rows.User_address}</td>
                    </tr>
                  <tr>
                    <th>電話番号<span class="red"></span></th>
                      <td>{$rows.User_tell}</td>
                    </tr>
                  <tr>
                    <th>メールアドレス<span class="red"></span></th>
                      <td>{$rows.User_mail}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
          <input type="hidden" name="func" value="" />
          <input type="hidden" name="param" value="" />
          <input type="hidden" name="User_id" value="{$User_id}" />
      </form>
    </div>
    
    <!-- 画面上部へ遷移するボタン -->
    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../Smarty/templates/user/vendor/jquery/jquery.min.js"></script>
    <script src="../Smarty/templates/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../Smarty/templates/user/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../Smarty/templates/user/vendor/php-email-form/validate.js"></script>
    <script src="../Smarty/templates/user/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../Smarty/templates/user/vendor/venobox/venobox.min.js"></script>
    <script src="../Smarty/templates/user/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../Smarty/templates/user/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../Smarty/templates/user/js/js/main.js"></script>
 </body>
</html>