<!DOCTYPE html>

<html lang = "ja">

<head>

<link rel="stylesheet" type="text/css" href="../Smarty/css/user/user.css">
<meta charset='utf-8'>
<!--これは忘れない！bootstrap公式サイトのcss-->　<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon.png">
    <link rel="icon" type="image/png" href="./img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->

    <title>トップページ_モデル</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../Smarty/templates/user/css/bootstrap-test.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link href="./demo/demo.css" rel="stylesheet" /> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Smarty/css/user/bootstrap.min.css">

 <!-- Bootstrap用JavaScriptの読み込み -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>日程表</title>
  <!-- Bootstrap用CSSの読み込み -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!--これは忘れない！bootstrap公式サイトのcss-->　<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon.png">
    <link rel="icon" type="image/png" href="./img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->

    <title>トップページ_モデル</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../Smarty/templates/user/css/bootstrap-test.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link href="./demo/demo.css" rel="stylesheet" /> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Smarty/css/user/bootstrap.min.css">


  <!-- Vendor CSS Files -->
    <link href="../Smarty/templates/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/aos/aos.css" rel="stylesheet">


</head>

<body>
<!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex align-items-center">
      <div class="contact-info mr-auto">
        <ul>
          <li class="active"><a href="./top.php">ホーム</a></li>
          <li><a href="./group.php">団体挨拶</a></li>
          <li><a href="./vor.php">ボランティア参加</a></li>
          <li><a href="./help.php">お問い合わせ</a></li>
          <li><a href="./my_page.php">マイページ</a></li>
          <li><a href="./souvenir.php">記念品</a></li>
        </ul>
      </div>      
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="#header" class="scrollto">双葉町災害対策会社</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#header" class="logo mr-auto scrollto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">             
      <div class="cta">
        <a href="./sign_up.php" class="scrollto">新規登録</a>
        <a href="./log_in.php" class="scrollto">ログイン</a>
      </div> 
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

<br><br><br><br>
<div align = "center">

<p style="text-align: center"><h1 style="text-align:center; margin-top:130px;">日程表</h1><br></p>

<br>
<br>

<div class="container-fluid">
    <table id="productSizes" class="table table-bordered">
        <thead>
            <tr class="d-flex">
      <th class="col-3" scope="col" style="text-align:center;">ボランティア名</th>
      <th class="col-1" scope="col" style="text-align:center;">開始日</th>
      <th class="col-1" scope="col" style="text-align:center;">最終日</th>
      <th class="col-6" scope="col" style="text-align:center;">内容</th>
      <th class="col-1" scope="col" style="text-align:center;"></th>
    </tr>
	  </thead>

{foreach from=$IDS key=k item=value}
<tbody>
<tr class="d-flex">
    <td class="col-3" scope="row" class="center" style="text-align:center;">
        {$value.Vor_name}
    </td>
    <td class="col-1" scope="row" class="center" style="text-align:center;">
        {$value.Vor_day}
    </td>
    <td class="col-1" scope="row" class="center" style="text-align:center;">
        {$value.Vor_finishday}
    </td>
    <td class="col-6" scope="row" class="center" style="text-align:center;">
        {$value.Vor_content}
    </td>
    <td class="col-1" scope="row" class="center" style="text-align:center;">
        <a href="vor_details.php?vid={$value.Vor_id}" class="btn-flat-border">詳細</a>
    </td>
</tr>
</tbody>

{foreachelse}
<tr>
    <td colspan="3" class="nobottom">ボランティアに参加していません</td></tr>
</tr>
{/foreach}
</div>
</body>

</html>