<!DOCTYPE html>
<!-- 編集時にはプラグインNunjucksを切り替える -->
<html lang="ja">

 <head>
    <link rel="stylesheet" type="text/css" href="../Smarty/css/user/vor_details.css">

    <meta charset="utf-8">
    <!--これは忘れない！bootstrap公式サイトのcss--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon.png">
    <link rel="icon" type="image/png" href="./img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->

    <title>ボランティア詳細</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../Smarty/templates/user/css/bootstrap-test.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link href="./demo/demo.css" rel="stylesheet" /> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Smarty/css/user/bootstrap.min.css">

    <!--これがないとモーションが動かない-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Favicons --> <!--サイトタブに表示させるアイコン-->
    <link href="/img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts --> <!--Google検索は使わないので必要ないかも-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../Smarty/templates/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="../Smarty/templates/user/vendor/aos/aos.css" rel="stylesheet">
 
    {literal}
    <script type="text/javascript">
        function set_func_form(fn,pm){
            document.form1.target = "_self";
            document.form1.func.value = fn;
            document.form1.param.value = pm;
            document.form1.submit();
        }
    </script>
    {/literal}
    {literal}
    <script type="text/javascript">
        function btn(){
                var button =document.getElementsByName('buttontext'); 
                if('参加する' == button)
                {
                        document.form1.submit();
                }else
                {
                    alert('すでに参加済みです');
                }
            }
    </script>

    {/literal}
 </head>


 <body>
    
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
      <div class="container d-flex align-items-center">
        <div class="contact-info mr-auto">
          <ul>
            <li class="active"><a href="./top.php">ホーム</a></li>
            <li><a href="./group.php">団体挨拶</a></li>
            <li><a href="./vor.php">ボランティア参加</a></li>
            <li><a href="./help.php">お問い合わせ</a></li>
            <li><a href="./my_page.php">マイページ</a></li>
            <li><a href="./souvenir.php">記念品</a></li>
          </ul>
        </div>      
      </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="#header" class="scrollto">双葉町災害対策会社</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#header" class="logo mr-auto scrollto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <nav class="nav-menu d-none d-lg-block">             
          <div class="cta">
            <a href="./sign_up.php" class="scrollto">新規登録</a>
            <a href="./log_in.php" class="scrollto">ログイン</a>
          </div> 
        </nav><!-- .nav-menu -->
      </div>
    </header><!-- End Header -->

   <!--見出し-->
   <h1 style="margin-top:130px;text-align:center;position:relative;top: 40px;margin-bottom: 40px;font-family:serif;">── ボランティア詳細 ──</h1><br>

    <!-- コンテンツ -->
    <div id="inquiry">
        <form name="form1" action="{$smarty.server.PHP_SELF}" method="post" >
            <table align="center" border="1">
                <tr>
                    <th class="nobottom">ボランティア名</th>
                    <td class="nobottom"><strong>{$smarty.post.Vor_name|escape}</strong>
                        <input type="hidden" name="Vor_name" value="{$smarty.post.Vor_name|escape}" >
                        {if isset($err_array.Vor_name) }<br /><span class="red">{$err_array.Vor_name}</span>{/if}
                    </td>
                </tr>
                <tr>
                    <th class="nobottom">開始日</th>
                    <td class="nobottom"><strong>{$smarty.post.Vor_day|escape}</strong>
                        <input type="hidden" name="Vor_day" value="{$smarty.post.Vor_day|escape}" >
                        {if isset($err_array.Vor_day) }<br /><span class="red">{$err_array.Vor_day}</span>{/if}
                    </td>
                </tr>
                <tr>
                    <th class="nobottom">最終日</th>
                    <td class="nobottom"><strong>{$smarty.post.Vor_finishday|escape}</strong>
                        <input type="hidden" name="Vor_finishday" value="{$smarty.post.Vor_finishday|escape}" >
                        {if isset($err_array.Vor_finishday) }<br /><span class="red">{$err_array.Vor_finishday}</span>{/if}
                    </td>
                </tr>
                <tr>
                    <th class="nobottom">人数</th>
                    <td class="nobottom"><strong>{$smarty.post.Vor_number|escape}</strong>
                        <input type="hidden" name="Vor_number" value="{$smarty.post.Vor_number|escape}" >
                        {if isset($err_array.Vor_number) }<br /><span class="red">{$err_array.Vor_number}</span>{/if}
                    </td>
                </tr>
                <tr>
                    <th class="nobottom">開催地</th>
                    <td class="nobottom"><strong>{$smarty.post.Vor_place|escape}</strong>
                        <input type="hidden" name="Vor_place" value="{$smarty.post.Vor_place|escape}" >
                        {if isset($err_array.Vor_place) }<br /><span class="red">{$err_array.Vor_place}</span>{/if}
                    </td>
                </tr>
                <tr>
                    <th class="nobottom">内容</th>
                    <td class="nobottom"><strong>{$smarty.post.Vor_content|escape}</strong>
                        <input type="hidden" name="Vor_content" value="{$smarty.post.Vor_content|escape}" >
                        {if isset($err_array.Vor_content) }<br /><span class="red">{$err_array.Vor_content}</span>{/if}
                    </td>
                </tr>
                <tr>
                    <th class="nobottom">詳細</th>
                    <td class="nobottom"><strong>{$smarty.post.Vor_explanation|escape}</strong>
                        <input type="hidden" name="Vor_explanation" value="{$smarty.post.Vor_explanation|escape}" >
                        {if isset($err_array.Vor_explanation) }<br /><span class="red">{$err_array.Vor_explanation}</span>{/if}
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>{$parts.Vor_id}</p>
                </td>
                </tr>
            </table>
			<br><br>
            <input type="hidden" name="func" value="conf" />
            <input type="hidden" name="param" value="" />
            <input type="hidden" name="Vor_id" value="{$Vor_id}" />
            <input type="hidden" name="buttontext"value="{$buttontext}" />

            <p align="center">
            <a href="vor.php"/ class="btn-push">戻る</a>
            <input type="button" class="btn-push" value="{$buttontext}" onclick="btn()"/>
        </form>
    </div>

    <!-- 画面上部へ遷移するボタン -->
    <a href="#" class="back-to-top" style="display: none;"><i class="ri-arrow-up-line"></i></a>
    
    <!-- Vendor JS Files -->
    <script src="../Smarty/templates/user/vendor/jquery/jquery.min.js"></script>
    <script src="../Smarty/templates/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../Smarty/templates/user/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../Smarty/templates/user/vendor/php-email-form/validate.js"></script>
    <script src="../Smarty/templates/user/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../Smarty/templates/user/vendor/venobox/venobox.min.js"></script>
    <script src="../Smarty/templates/user/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../Smarty/templates/user/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../Smarty/templates/user/js/js/main.js"></script>

  </body>
</html>
