<!DOCTYPE html>

<html lang = "ja">

<head>

<link rel="stylesheet" type="text/css" href=../../css/user/main_user.css>

<meta charset = "UTF-8">  

<title>避難場所地図</title>
{literal}
<style>
li {width: 200px;}

li a{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    }

ul{overflow: hidden;}

li{float: left;}

ul li {display: inline;}

li {display: inline;}

li {text-align: center;}

.inline-block_safety {
    display: inline-block;
    padding:  20px;
    height: 100px;
}

</style>
{/literal}
</head>




<body>

<text><h1>双葉町災害対策会社</h1></text>

<div align = "right">

<button onclick="location.href='./sign_up.php'">新規登録</button>

<button onclick="location.href='./log_in.php'">ログイン</button>

</div> 

<ul>

<li><a href="./top.php"><h3>ホーム</h3></a></li>

<li><a href="./group.php"><h3>団体挨拶</h3></a></li>

<li><a href="./vor.php"><h3>ボランティア参加</h3></a></li>

<li><a href="./help.php"><h3>お問い合わせ</h3></a></li>

<li><a href="./my_page.php"><h3>マイページ</h3></a></li>

<li><a href="./souvenir.php"><h3>記念品</h3></a></li>

</ul>

<div align = "center">
<text><h1>双葉町避難場所一覧</h1></text>
</div>
<div class="inline-block_safety">
<a href = "#寺松"><h3>寺松公民館</h3></a>
<a href = "#渋川"><h3>渋川公民館</h3></a>
<a href = "#石熊"><h3>石熊公民館</h3></a>
<a href = "#ステーションプラザ"><h3>ステーションプラザふたば</h3></a>
<a href = "#中学校"><h3>双葉中学校</h3></a>
<a href = "#高等学校"><h3>双葉高等学校</h3></a>
<a href = "#民俗資料館"><h3>双葉町歴史民俗資料館</h3></a>
<a href = "#北・南小学校"><h3>双葉町立双葉北・南小学校</h3></a>
<a href = "#図書館"><h3>双葉町図書館</h3></a>
<a href = "#体育館"><h3>双葉町体育館</h3></a>
<a href = "#ふたば幼稚園"><h3>双葉町立ふたば幼稚園</h3></a>
<a href = "#ヘルスケア―"><h3>ヘルスケア―ふたば</h3></a>
<a href = "#役場"><h3>双葉町役場コミュニティーセンター</h3></a>
<a href = "#両竹"><h3>両竹公民館</h3></a>
<a href = "#浜野"><h3>浜野公民館</h3></a>
<a href = "#海浜公園"><h3>双葉海浜公園マリンハウスふたば</h3></a>
</div>

<p id = "寺松"><h1>寺松公民館</h1></p>
<img src = "image/safety1.jpg" alt = "寺松公民館" title = "寺松公民館">
<br>
<br>

<p id = "渋川"><h1>渋川公民館</h1></p>
<img src = "image/safety2.jpg" alt = "渋川公民館" title = "渋川公民館">
<br>
<br>

<p id = "石熊"><h1>石熊公民館</h1></p>
<img src = "image/safety3.jpg" alt = "石熊公民館" title = "石熊公民館">
<br>
<br>

<p id = "ステーションプラザ"><h1>ステーションプラザふたば</h1></p>
<img src = "image/safety4.jpg" alt = "ステーションプラザふたば" title = "ステーションプラザふたば">
<br>
<br>

<p id = "中学校"><h1>双葉中学校</h1></p>
<img src = "image/safety5.jpg" alt = "双葉中学校" title = "双葉中学校">
<br>
<br>

<p id = "高等学校"><h1>双葉高等学校</h1></p>
<img src = "image/safety6.jpg" alt = "双葉高等学校" title = "双葉高等学校">
<br>
<br>

<p id = "民俗資料館"><h1>双葉町歴史民俗資料館</h1></p>
<img src = "image/safety7.jpg" alt = "双葉町歴史民俗資料館" title = "双葉町歴史民俗資料館">
<br>
<br>

<p id = "北・南小学校"><h1>双葉町立双葉北・南小学校</h1></p>
<img src = "image/safety8.jpg" alt = "双葉町立双葉北・南小学校" title = "双葉町立双葉北・南小学校">
<br>
<br>

<p id = "図書館"><h1>双葉町図書館</h1></p>
<img src = "image/safety9.jpg" alt = "双葉町図書館" title = "双葉町図書館">
<br>
<br>

<p id = "体育館"><h1>双葉町体育館</h1></p>
<img src = "image/safety10.jpg" alt = "双葉町体育館" title = "双葉町体育館">
<br>
<br>

<p id = "ふたば幼稚園"><h1>双葉町立ふたば幼稚園</h1></p>
<img src = "image/safety11.jpg" alt = "双葉町立ふたば幼稚園" title = "双葉町立ふたば幼稚園">
<br>
<br>

<p id = "ヘルスケア―"><h1>ヘルスケア―ふたば</h1></p>
<img src = "image/safety12.jpg" alt = "ヘルスケア―ふたば" title = "ヘルスケア―ふたば">
<br>
<br>

<p id = "役場"><h1>双葉町役場コミュニティーセンター</h1></p>
<img src = "image/safety13.jpg" alt = "双葉町役場コミュニティーセンター" title = "双葉町役場コミュニティーセンター">
<br>
<br>

<p id = "両竹"><h1>両竹公民館</h1></p>
<img src = "image/safety14.jpg" alt = "両竹公民館" title = "両竹公民館">
<br>
<br>

<p id = "浜野"><h1>浜野公民館</h1></p>
<img src = "image/safety15.jpg" alt = "浜野公民館" title = "浜野公民館">
<br>
<br>

<p id = "海浜公園"><h1>双葉海浜公園マリンハウスふたば</h1></p>
<img src = "image/safety16.jpg" alt = "双葉海浜公園マリンハウスふたば" title = "双葉海浜公園マリンハウスふたば">
<br>
<br>

</body>

</html>